body {
    width: 100vw;
    height: 100vh;
    background-color: gray;
   
}

button {
    display: block;
    margin: 8px auto;
    padding: 20px;
    background-color: orangered;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}